@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


/**************** HEADER ***************************************************************/

.site-header {
	height:100%;
	padding-bottom: 8.3%;
	background-color: #ECECE0;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;

	.header-wrapper {
		padding-top:3.5% ; 
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		h1 {
			font-family: 'Libre Baskerville', serif;
			margin: 0;
			height: 100%;
			font-size: clamp(2.125rem, calc( 12px + 2.750vw ), 2.875rem);
			line-height: 1.1;
			margin-left: 5%;
			z-index: 999;
		}
		.header-pic {
			width: 30%;
			height: 100%;
			margin-left: 5%;
		}
		.header-triangle {
			z-index: 999;
			width: 30vw;
		}

		.header-grid {
			position: absolute;
			width: 45%;
			left: 55%;
		}
	}
}
#primary-menu {
	height: 4rem;
	ul {
height: 100%;
margin: 0 auto;
width: 90%;
display: flex;
justify-content: space-between;
align-items: center;
font-weight: bold;
li {
	font-size: 2vw;
	a {
		color: black;
	}
	a:visited {
		color: black;
	}
}
}
}
