.fleche {
    position: absolute;
    top: 30%;
    width: 95vw;
    height: 100vh;
    left: 2%;
    .fleche-gauche, .fleche-droite {
        z-index: 99999;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        border: 2px solid $noir;
        position: absolute;
        top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blanc;
        transition: 0.15s ease;
        font-size: 24px;
        font-weight: bolder;
        &:hover {
            background-color: $accent_mauve;
            color: $blanc;
            cursor: pointer;
            svg{
                fill: $blanc;
            }
        }
        &:active{
            background-color: $accent_orange;
        }
        svg{
            width: 55%;
            height: 55%;
        }
    }
    .fleche-droite {
        right: 0;
    }
}

@include tablet {
    .fleche {
        display: none !important;
    }
}