.futur {
    display: flex;
    flex-direction: row;
    background-color: #CCE2E0;
    justify-content: space-around;
    
   
    flex-wrap: wrap;
    .metier-wrapper {
            display: grid;
            width: 50vw;
            height: 30rem;
            grid-template-columns: repeat(auto-fill,minmax(20vw, 1fr));
    .metier-wrap {
        background-color: rgba(0, 0, 0, 0.267);
        padding-left: 10px;
         margin: 20px;
         &:hover {
            transition: all 0.3s ease;
           transform: translate(10px, -10px);
            box-shadow: -1px 1px 0px #D89444, -2px 2px 0px #D89444, -3px 3px 0px #D89444, -4px 4px 0px #D89444, -5px 5px 0px #D89444, -6px 6px 0px #D89444, -7px 7px 0px #D89444, -8px 8px 0px #D89444, -9px 9px 0px #D89444, -10px 10px 0px #D89444, -11px 11px 0px #D89444, -12px 12px 0px #D89444;
        }
    }
}
}

