@media screen and (min-width: 600px) {
    .session-1, .session-2 {
        width: 100vw;
        border: 1px solid red;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        .text-cours1, .text-cours2 {
            width: 50%;
            position: relative;
            .text-session-1, .text-session-2 {
                position: absolute;
                transition: 0.5s ease;
                opacity: 0;

            }
            .opactiy-text {
                opacity: 1;

            }
        }
    }
    article {
        overflow-x: hidden;
    }
    .parcours-container-full {
        display: flex;
        flex-direction: row;
        overflow: auto;
        width: 600vw;
        transition: 0.5s ease;
    }

    .not-home {
        display: none;
    }
    .progress-bar {
        box-shadow: inset 1px 1px 9px 0.1px rgba(0, 0, 0, 0.356);
  
        width: 91.7vw;
        margin: 0 auto;
        border-radius: 10px;
        height: 15px;
        margin-top: 10px;
        .progress-point {
            position: relative;
            z-index: -999;
            background-color: orange;
            width: 3.33vw;
            height:100%;
            border-radius: inherit;
        }
    }
        .cours-ate {
            border: 1px solid red;
            position: relative;
            top: -60px;
            .ate-wrap {
                position: absolute;
                display: flex;
                flex-direction: row;
                align-items: center;
                right: 4.5vw;
                .logo {
                    width: 150px;
                    height: 23px;
                    border: 2px solid black;
                    border-radius: 10px;       
                    background-color: white;      
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s ease;
                    &:hover {
                        background-color: #4712C9;
                        color: white;
                    }
                }
            }
        }
  }  