::-webkit-scrollbar {
    display: none;
}
    .session-1, .session-2, .session-3, .session-4, .session-5, .session-6 {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        .text-cours1, .text-cours2,.text-cours3, .text-cours4,.text-cours5, .text-cours6{
            width: 65%;
            position: relative;
            color: $noir;
            
            .text-session-1, .text-session-2, .text-session-3, .text-session-4, .text-session-5, .text-session-6{
                position: absolute;
                transition: 0.5s ease;
                opacity: 0;
                
                p {
                    margin-left: 10%;
                }
            }
            .opactiy-text {
                opacity: 1;
            }
        }
    }

    .article-parcours {
        overflow-x: hidden;
        height: 750px;
        //z-index: 999;
        background-color: $vert;
    }

    .parcours-container-full {
        display: flex;
        flex-direction: row;
        overflow: auto;
        width: 600vw;
        transition: 0.5s ease;
        position: relative;
        z-index: 29;
    }

        .parcours-container-full {
            display: flex;
            flex-direction: row;
            overflow: auto;
            width: 600vw;
            transition: 0.5s ease;
            position: relative;
        }

        .not-home {
            display: none;
        }
        .progress-bar {
            background-color: $beige;
            width: 100vw;
            margin: 0 auto;
            height: 15px;
            margin-top: 10px;
            .progress-point {
                position: relative;
                background-color: $accent_orange_fonce;
                width: 3.33vw;
                height:100%;
            }
        }
            .cours-ate {
                position: relative;
                top: -40.5vh;
                z-index: 1000;
                .ate-wrap {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    right: 4.5vw;
                    .logo {
                        width: 170px;
                        height: 30px;
                        border: 2px solid black;
                        border-radius: 50px;       
                        background-color: white;      
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: $accent_mauve;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
        
            .bouton-cours{
                width: 160px;
                height: 60px;
                align-items: center;
                background-color: $beige;
                cursor: pointer;
                font-family: 'Libre Baskerville', serif;
                padding-left: 20px;
                padding-right: 20px;
                border: 1px solid black;
                -webkit-box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.43); 
                box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.43);
                transition: 0.25s ease-in-out;

                .wp-block-columns {
                    margin-bottom: 0px;
                    align-items: center;
                }
            }

            .bouton-cours:hover {
                background-color: $accent_mauve;
                color: white;
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.43); 
                box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.43);

                svg {
                    fill: white;
                }
            }

        .bouton-cours:active{
            transition: none;
            background-color: $accent_orange;
            
        }

        .sigle-cours1, .sigle-cours2, .sigle-cours3, .sigle-cours4, .sigle-cours5{
            height: 30rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2% 0% 2% 0%;
        }

        .sigle-cours5 {
            flex-direction: row !important;
            flex-wrap: wrap !important;
            width: 30% !important;
        }

            .bouton-cours:active{
                transition: none;
                background-color: $accent_orange;
                
            }

            .sigle-cours1, .sigle-cours2, .sigle-cours3, .sigle-cours4, .sigle-cours5{
                height: 30rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2% 0% 2% 0%;
            }

            .sigle-cours6 {
                height: 20rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-top: auto;
                margin-bottom: auto;
                padding: 2% 0% 2% 0%;
            }

        

    @include tablet {
    
        .progress-bar {
            display: none !important;
        }
        #cours-vertical {
            flex-direction: column !important;
        }
        .bouton-cours {
            display: flex;
        }
        .cours-ate, .ate-wrap {
            position: fixed;
            bottom: 10px !important;
            right: 10px;
            z-index: 9999;
        }
        .sessions {
            height: 90vh !important;
        }
        .sigle-cours1, .sigle-cours2, .sigle-cours3, .sigle-cours4,.sigle-cours5{
            height: 60% !important;
            margin-top: 70px;
        }
        .sigle-cours6 {
        height: 100% !important;
        justify-content: flex-start !important;
        .bouton-cours {
            margin-top: 35px;
        }

        }
        .text-cours1, .text-cours2,.text-cours3,.text-cours4,.text-cours5,.text-cours6 {
            line-height: 1.1 !important;
            h1 {
                font-size: 1.5em !important;
            }
            
        }

        .bouton-cours {
            width: auto;
            
            .wp-block-column {
                margin-left: 0;
            }

            .wp-block-column:first-of-type {
                display: none !important;
                width: 110px !important;
            }

            margin-left: 0 !important;
            .wp-block-columns {
                margin: auto;
                width: 50px;
                height: 50px;
                align-items: center;
                justify-content: center;
                svg{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    @include phone{
        .sessions {
            height: 130vh !important;
        }
    }
