
.proj-carou1 {
  height: 50vh;
}

.proj-wrapper {
  display: flex;
  padding: 0 1vw;
  overflow-x: scroll;
  background-color: $mauve;
  height: 68.3vh;
  width: 600vw;
  transition: transform 0.5s ease;

  .proj-wrap {
    margin: 13vh;
    min-width: 2rem;


    .proj-content {
      display: inline-block;

      h1 {
        color: white;
        text-align: center;
        font-size: 1.25em;
        margin: 0;
        position: relative;
        top: 18vh;
        z-index: 999;
        text-shadow: 1px 1px black;
        cursor: pointer;
        // pointer-events: none;
      }

      p {
        display: none;
      }
    }
  }

}

.proj {

  figure {
    transform: translateZ(0);
    margin: auto;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    margin-bottom: 0;
    width: 250px;
    -webkit-box-shadow: 0px 0px 15px 5px #000000; 
box-shadow: 0px 0px 15px 5px #000000;

    &:after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 10px;
      left: 0;
      bottom: -50px;

    }

    :hover {
      transform: scale(1.1);
      cursor: pointer;
      -webkit-box-shadow: 0px 0px 15px 5px #000000; 
box-shadow: 0px 0px 15px 5px #000000;
    }

    img {
      transition: all 0.5s ease;
    }
  }

    .progress-bar {
      background-color: $beige;
      width: 100vw;
      margin: 0 !important;
      height: 15px;


      .progress-point {
        position: relative;
        background-color: $accent_orange_fonce;
        width: 3.33vw;
        height: 100%;
      }
    }


  .proj {
    article {
      height: 30%;
    }
  }

  .proj-content {
    margin: auto;
    text-align: center;

  }

  h1 {
    transform: translateZ(100px);
  }
}

@include tablet {
  .proj {
    .proj-wrapper {
      padding-top: 5vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 15vh 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". ."
          ". ."
          ". ."
          ". ."
          ". ."
          ". ."
          ". ."
          ". ."
          ". .";
      
      flex-wrap: wrap;
      // pointer-events: none;
      width: 100vw;
      height: 500vh;
      transform: translateX(0) !important;
      transition: none;

      .proj-wrap {
        display: flex;
        margin: 0;
        .proj-content {
          transform: rotateX(0) rotateY(0);
        }
        h1 {
          font-size: 20px;
        }
      }
    }
    .progress-bar {
      display: none;

      .progress-point {
        display: none;
      }
    }

    .figure {

      :hover {
        transform: none;
      }
    }
  }
}

@include phone {
  
  .proj-wrapper {
    display: flex !important;
    flex-direction: column;
    gap: 0 !important;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
    height: 1000vh !important;

    .proj-wrap {
      margin: auto;

    h1 {
      top: 20vh !important;
      font-size: 20px !important;
      text-align: center;
    }
    figure {
      width: 250px !important;
    :hover {
      transform: none;
    }
  }
  }
}
}