/**********************************************************************
*                                                                     *
*                                                                     *
*           CSS POUR LA PAGE ACTIVITÉ (ANCIENNEMENT VIE ÉTUDIANTE)    *
*                                                                     *
*                                                                     *
*                                                                     *
**********************************************************************/

.vie {
    background-color: rgba(128, 128, 128, 0.363);
    padding-top: 20px ;
    overflow-x: hidden;
    
    .vie-haut {
    
        width: 300vw;
        transition: 0.5s ease;
        height: 33rem;
        position: relative;
        z-index: 29;
    }
    .vie-wrapper {
        
        display: grid; 
        grid-template-columns: 100vw 100vw 100vw; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "vie-1 vie-2 vie-3"
          "vie-4 vie-5 ."; 
    }

    .vie-wrap {
        &:first-of-type {
            grid-area: vie-1;
        }
        &:nth-of-type(2) {
            grid-area: vie-4;
        }
        &:nth-of-type(3) {
            flex-direction: row-reverse;
            grid-area: vie-2;
        }
        &:nth-of-type(4) {
            grid-area: vie-5;
        }
        &:last-of-type {
            grid-area: vie-3;
        }
    }

    .vie-wrap {
        display: flex;
        flex-direction: row;
        width: 85vw;
        margin-left: 7vw;
        height: 15rem ;
        justify-content: space-evenly;
        
        p {
            width: 90%;
            font-weight: 600;
            line-height: 1.8;
        }
        .vie-img {
            width: 25rem;
            height: 100%;
            position: relative;
            z-index: 99999999;
            img {
                height: 100%;
                box-shadow: -16px 16px 0px 5px rgba(0, 0, 0, 0.561);
                transition: 0.5s ease;
                &:hover {
                    box-shadow: none;
                }
            }
        }

        .vie-content {
            margin-left: 3%;
        }

        &:first-of-type {
            .vie-content {
                text-align: right;
                p {
                    float: right;
                }
        }
        }
    
        &:nth-of-type(2) {
            flex-direction: row-reverse;
        }
    }
}
body {
    margin: 0 !important;
}
@media (max-width: 1172px) {
    .vie-wrapper {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr !important; 
        gap: 0px 0px; 
        grid-template-areas: 
          "vie-1"
          "vie-4"
          "vie-3"
          "vie-2"
          "vie-5" !important; 
       }
       .vie-wrap {
           margin: 3%;
       }
}
@include phone {
    .vie-haut {
    
        height: auto !important;
    }
    .vie-wrapper {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "vie-1"
          "vie-2"
          "vie-3"
          "vie-4"
          "vie-5"; 
    }
 
 .vie-wrap {
    height: auto !important ;
    display: grid !important; 
    grid-template-columns: 1fr !important; 

    gap: 0px 0px !important; 
    grid-template-areas : 
      "vie-img-wrap"
      "vie-content" !important; 
      margin: 0 auto;
      
 }
 .vie-img-wrap { grid-area: vie-img-wrap; }
.vie-content { grid-area: vie-content; }
    
    .vie-img {
        width: 90% !important;
        margin: 0 auto;
        img {
            box-shadow: none !important;
        }
    }
  
    .vie-content {
        
        width: 90% !important;
        margin: 0 auto;
       
       
        p {
            margin: 0 !important;
        }
    }

 
 .not-home {
     display: none;
 }
}
