.vie-wrap{
    display: flex;
    //overflow: hidden;
   width:85%;
   height: auto;
   margin-left: 10vw;
   &:first-of-type {

    flex-direction: row;
    .vie-img {
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    }
    .vie-ombre {
        top: 10%;
        left: 3%;
        z-index: -99;
        width: 40rem;
        height: 17rem;
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    }
   }
   &:nth-of-type(2) {
    height: 20rem;

       justify-content: left;
   
    flex-direction: row-reverse;
    .vie-img {
        clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
        transform: scaleX(-1);
    }
    .vie-ombre {
        top: 10%;
        right: 8%;
        width: 40rem;
        z-index: -99;
        height: 17rem;
        clip-path: polygon(25% 1%, 100% 0, 100% 100%, 0% 100%);
    }
   }
.vie-img-wrap {
position: relative;

    .vie-img {
        width: 40rem;
        height: 17rem;
    }
    .vie-ombre {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.384);
    } 
}
    .vie-content {
        margin-top: -25px;
        margin-left: 15px;
        width: 35rem;
        p:last-of-type {
            margin-left: -35px;
        }
    }
}

.vie {
    height: 43rem;
    background-color: $rose;
    position: relative;
    z-index: -999;
}

body {
    margin: 0 !important;
}
@media (max-width: 1172px) {
   .vie-wrap {
       display: flex !important;
       flex-direction: column !important;
       height: auto !important;
   }
   .vie-wrapper {
       display: flex;
       flex-direction: column !important;
       justify-content: center !important;
       align-items: center !important;
   }
}
@include phone {
    .vie-wrapper {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column;
    }
 .vie-haut{
    overflow: visible !important;
 }  
 .vie-wrap {
     width: 100% !important;
    position: static;
     margin: 25px 0  !important;
     display: flex !important;
     justify-content: center !important;
    height: auto !important;
     flex-direction: column !important;
     position: relative !important;
    .vie-img {
        position: relative !important;
        clip-path: none !important;
        width: 90% !important;
        margin: 0 auto;
    }
    .vie-ombre {
        display: none;
    }
    .vie-content {
        
        width: 80% !important;
        margin: 0 auto!important;
        position: relative !important;
       
        p {
            margin: 0 !important;
        }
    }
 } 
 
 .not-home {
     display: none;
 }
 
}
.vie {
    height: auto !important;
    width: auto !important;
}